<tr>
  <td>
    <%= test.title %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td><%= test_level(test)%></td>
  <td><%= number_of_questions(test) %></td>
  <td class="align-middle" align="center"><%= link_to 'Show', admin_test_path(test) %></td>
  <td class="align-middle" align="center"><%= link_to 'Edit', edit_admin_test_path(test) %></td>
  <td class="align-middle" align="center"><%= link_to 'Delete', admin_test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
