<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Questions for this test:</strong>
  <p>
    <% @test.questions.each do |question| %>
    <p> - <%= question.text %></p>
    <% end %>
    <br>

    <%= link_to 'Edit', edit_test_path(@test) %> |
    <%= link_to 'Back', tests_path %>
